* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  color: white;
}

body {
  background-color: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#00274a), color-stop(#004064), color-stop(#005a7d), color-stop(#007593), to(#0191a6));
  background-image: linear-gradient(to right top, #00274a, #004064, #005a7d, #007593, #0191a6);
  width: 40vw;
  height: 90vh;
  margin-top: 2rem;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.header {
  text-align: center;
  margin: 1rem 0rem;
}

.title {
  font-weight: 100;
}

.title span {
  font-weight: 700;
}

.allTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40vw;
}

.addTask {
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.addTask__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  height: 0;
  width: 50%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.addTask__btn {
  color: #fffefe;
  padding: 0.5rem 2rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.281);
  margin-top: 0.5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.addTask__optionalInputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 0.5rem;
}

.addTask__option, .addTask__select {
  color: black;
  -ms-flex-item-align: start;
      align-self: flex-start;
  height: 25px;
}

.addTask__input {
  color: black;
  width: 70px;
  height: 25px;
}

.addTask__title {
  width: 100%;
  margin-bottom: 0.5rem;
}

.addTask__date {
  margin-right: 1rem;
}

.addTask__btn:hover {
  color: #00006d;
  background-color: white;
}

.addTask-show {
  height: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 70%;
  background-color: rgba(255, 255, 255, 0.335);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  margin-bottom: 0.3rem;
}

.task__type {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}

.task__edit {
  position: absolute;
  border: none;
  background: transparent;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.task__edit img {
  width: 20px;
}

.task__title {
  font-size: 20px;
  display: inline-block;
  margin-left: 0.5rem;
}

.task__date, .task__time {
  margin-left: 2rem;
}

.task__date, .task__type {
  color: rgba(255, 255, 255, 0.418);
}

.task__input {
  width: 1.2rem;
  height: 1.2rem;
  opacity: 0;
}

.task__box {
  position: relative;
}

.task__checkbox {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgba(255, 255, 255, 0.281);
  left: 0;
  top: 0%;
  border: 1px solid rgba(255, 255, 255, 0.322);
  cursor: pointer;
}

.icon {
  display: none;
}

.icon-active {
  display: block;
}

.task-done {
  background-color: rgba(255, 255, 255, 0.109);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.068);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.068);
}

.done-text {
  color: rgba(255, 255, 255, 0.418);
}

.active {
  background-color: white;
}

.addTask__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.delete__btn,
.add__btn {
  border: none;
  padding: 0.3rem 0.8rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.delete__btn {
  background: transparent;
  color: white;
  text-decoration: underline;
  margin-right: 0.3rem;
}

.add__btn {
  background-color: white;
  color: black;
}

.edit-task {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */